################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/services/ProJur/.vs/ProJur/v16
/src/services/ProJur.Cadastros.API/obj
/src/services/ProJur.Cadastros.API/bin/Debug/netcoreapp3.1
/src/services/ProJur.Cadastros.Domain/obj
/src/services/ProJur.Cadastros.Domain/bin/Debug/netcoreapp3.1
/src/services/ProJur.Cadastros.Infra/obj
/src/services/ProJur.Cadastros.Infra/bin/Debug/netcoreapp3.1
/src/services/ProJur.Core/obj
/src/services/ProJur.Core/bin/Debug/netcoreapp3.1
/src/services/ProJur.Cadastros.Aplication/bin/Debug/netcoreapp3.1
/src/services/ProJur.Cadastros.Aplication/obj
/tests/ProJur.Cadastros.Domain.Test/obj
/tests/ProJur.Cadastros.Domain.Test/bin/Debug/netcoreapp3.1