<ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-title">Menu</li>

    <li class="c-sidebar-nav-dropdown c-show" >
        <a class="c-sidebar-nav-dropdown-toggle" matRipple appToggle>
            <i class="c-sidebar-nav-icon cil-library"></i> Cadastros
        </a>

        <ul class="c-sidebar-nav-dropdown-items">
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" matRipple routerLink="home" routerLinkActive="c-active">
                    <i class="c-sidebar-nav-icon fa fa-user"></i> Usuários
                </a>
            </li>           
        </ul>
    </li>

    <ng-content></ng-content>
</ul>

