.mat-table {
    width: 100%;
}

.mat-column-atualizar {
    flex: 0 0 80px;
    display:flex;
    justify-content:left;
}

.mat-column-deletar {
    flex: 0 0 80px;
    display:flex;
    justify-content:left;
}